<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xx.system.mapper.SysMenuMapper">

    <!-- Query for getting submenu IDs by menu ID -->
    <select id="getSubmenuIdsByMenuId" resultType="java.lang.Long">
        SELECT menu_id
        FROM sys_menu
        WHERE pid = #{menuId}
    </select>

    <!-- Query for getting superiors and siblings -->
    <select id="getSuperiorsAndSiblings" resultType="com.xx.system.entity.SysMenu">
        SELECT *
        FROM sys_menu
        WHERE menu_id = #{menuId}
        UNION
        SELECT sm.*
        FROM sys_menu sm
        WHERE sm.pid = #{menuId}
          AND sm.menu_id != #{menuId}
    </select>

    <!-- Query for getting Sibling IDs by User ID -->
    <select id="getSiblingMenuIdsByUserIdAndMenuId" resultType="java.lang.Long">
        SELECT DISTINCT m.menu_id
        FROM sys_menu m
                 JOIN sys_role_menu rm ON m.menu_id = rm.menu_id
                 JOIN sys_users_roles ur ON rm.role_id = ur.role_id
        WHERE ur.user_id = #{userId}
          AND m.menu_id != #{menuId}
    </select>

</mapper>